# https://github.com/actions/runner-images

on:
  - "push"

name: "Run tests"

jobs:
  nix:
    name: "*nix - all awks"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-22.04, ubuntu-24.04 ]
    steps:
      - uses: actions/checkout@v3

      - uses: actions/cache@v3
        id: cache-soft
        with:
          path: soft
          key: ${{ matrix.os }}-${{ hashFiles('Makesurefile') }}

      - name: "run tests"
        run: |
          ./makesure testall

  macos:
    name: "macOS"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ macos-14, macos-15, macos-26 ]
    steps:
      - uses: actions/checkout@v3

      - uses: actions/cache@v3
        id: cache-soft
        with:
          path: soft
          key: ${{ matrix.os }}-${{ hashFiles('Makesurefile') }}

      - name: "run tests"
        run: |
          ./makesure

  win:
    name: "Win"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ windows-2022, windows-2025 ]
    steps:
      - uses: actions/checkout@v3

      - uses: actions/cache@v3
        id: cache-soft
        with:
          path: soft
          key: ${{ matrix.os }}-${{ hashFiles('Makesurefile') }}

      - name: "run tests"
        run: |
          & bash -e -c "./makesure"
